<strong>Hello {{ owner }},</strong>
<p>
  {{ user }} just subscribed to your meetup! The contact e-mail is: {{ userEmail }}
</p>
<p>
  Remeber that you can only cancel meetups 2 hours prior to the scheduled moment.
</p>
